<!DOCTYPE html>
<html lang="en">
<head>
    <%- include common  %>
    <title>电影评论</title>
</head>
<body>
    <%- include("header",{title:"comment"}) %>
    <div class="container-fluid">
        <div class="col-md-6 col-sm-6 col-lg-6">
           <h2 class="text-success text-center"> 当前电影介绍</h2>
           <div class="thumbnail">
                <img src="<%- result.images.large %>" alt="" style="height:240px;width:100%">
                <div class="caption" data-mid="<%- result.id%>"  >
                    <h4 class="text-danger pull-right"> <%- result.year %></h4>
                    <h4 class="text-success"> <a href="/comment/index?mid=<%- result.id %>"> <%-result.title %> </a> </h4>
                    <p class="h5 text-info"> 评分 : <%- result.rating.average %> </p>
                    <p class="h5 text-primary"> 分类 : <%- result.genres %> </p>
                    <p class="h5 text-danger"> 导演 : <%- result.directors[0].name %> </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <h2 class="text-danger text-center"> 添加电影评论</h2>
            <form >
                <div class="form-group" >
                    <label for="title">评论标题</label>
                    <input  type="text" class="form-control" id="title" placeholder="评论标题">
                </div>
                <div class="form-group">
                    <label for="content">评论内容</label>
                   <textarea class="form-control"  id="content" cols="30" rows="10"></textarea>
                </div>
                <button type="button" class="btn btn-success" id="submitbtn">提交评论</button>
            </form>
        </div>
    </div>


    <script>
        $("#submitbtn").click(function(){
            // alert("ssss")
            $.post('/comment/submit',{
                title:$('#title').val(),
                content:$("#content").val(),
                mid:$(".caption").attr("data-mid")                
            }).then(res=>{
                alert("提交成功")
                location.href = "/comment/mlist"
            })
        })
    </script>
</body>
</html>